<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fair Allocating</title>
</head>
<body>
<h1>Welcome!</h1>
<p> this is a simple algorithm for Fair allocating items between two people with identical valuations!</p>
<p> you must create two sheets in you notebook, one named 'Input' and another named 'Output', and you will see the
    results there.</p>
<p><b> please enter your google-sheet URL HERE: </b></p>

<form action="/" , method="post">
    <strong>URL:</strong>
    <input type="text" value="" name="fname">
    <input type="submit" ,value="Submit" , onclick=alert("I am an alert box!")>
</form>
</body>
</html>